<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/public/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/favicon/pub/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="\public\images\favicon\android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public\images\favicon\favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/public/css/default.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script defer src="/public/js/displayphotos.js"></script>
    <script defer src="/public/js/frontendjs.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="container">
        {{log this}}
        {{> nav}}
        {{#if messages}}
        {{> flashmessage}}
        {{/if}}
        {{{body}}}
    </div>

    {{#if logged}}
    <script>
        // Logout functionality
        let ele = document.getElementById("logout-button");
        if (ele) {
            // Send request call to destroy session
            ele.onclick = (even) => {
                fetch('/users/logout', {
                    method: "POST"
                })
                    .then((data) => {
                        location.replace('/');
                    })
            }
        }
    </script>
    {{/if}}
</body>

</html>