<head>
    <script defer src="/public/js/registration.js"></script>
</head>

<div class="grid-container">
    <div class="site-header">
        <h1>Register to Application</h1>
        <p>In order to create an account, please enter a<br>
            desired username, your email, and a personal password.</p>
    </div>

    <form id="regForm" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        <div class="site-content">
            <label>Username:</label><br>
            <input type="text" id="username" placeholder="type username here" name="username">
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <label>E-Mail Address:</label><br>
            <input type="email" id="email" placeholder="type email here" name="email">
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <label>Password:</label><br>
            <input type="password" id="password" placeholder="password" name="password">
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <label>Please confirm your password:</label><br>
            <input type="password" id="password2" placeholder="re-enter password" name="cpassword">
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <label>Are you 13 years old or older? </label><br>
            <input type="radio" id="ageVerificationYes" value="yes" name="ageVerification">
            <label>Yes</label>
            <input type="radio" id="ageVerificationNo" value="no" name="ageVerification" required>
            <label>No</label><br>
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <a href="https://www.google.com/">Terms of Service and Privacy Rules</a><br>
            <label>Check the box to accept the Terms of Service and Privacy Rules before registering</label>
            <input type="checkbox" id="acceptTOS" name="TOS" value="true" required>
            <small>Error Message</small>
        </div>

        <div class="site-content">
            <p>Click the 'Register' button to register your account</p>
            <button type="submit" onclick="document.getElementById('regForm').submit();">Submit</button>
        </div>
    </form>

    <nav>
        <div>
            <a href="login">Or click here to login if you already have an account</a>
            <br><br>
            <a href="/">Homepage</a>
        </div>
    </nav>
</div>

<footer class="site-footer">

</footer>
</div>