<div class="grid-container">
    <header class="site-header">
        <h1>1 USER HAS BEEN REPORTED!!!!!!!!!! THE SITE ADMIN WILL BE NOTIFIED</h1>
    </header>

    <footer class="site-footer">
        <div>
            <a class="login-register" href="login">Login</a>
        </div>
        <br>
        <div>
            <a class="login-register" href="registration">Register</a>
        </div>
    </footer>
</div>